
onClick="setSelectedCompany(image.image_name)"


<div class="row" ng-repeat="category in insuranceCategories">
    <div class="row">
      <h3 class="claimforms-texts">{{category.title}}</h3>
      <div
        ng-repeat="insurance in category.packages"
        class="col-xl-{{category.packages.length>=4?'3':'4'}} col-lg-{{category.packages.length>=4?'3':'4'}} col-md-6"
      >
        <div class="services-boxes" ng-click="alerty()">
          <div class="services-inner">
            <div class="services-shape">
              <img ng-src="{{ insurance.image }}" alt="" />
            </div>
            <div class="services-count"></div>
            <h4 class="services-title">
              <a>{{ insurance.title }} - {{getSelectedCompany()}}</a>
            </h4>
            <div class="services-link">
              <a
                class="text-btn js-modal"
                data-modal="#{{insurance.modalId}}"
                >Download Forms</a
              >
            </div>
         
          </div>
        </div>
        <div ng-include="insurance.modalTemplate"></div>
      </div>
    </div>
  </div>